.chooserContent {
      display: flex;
    justify-content: space-evenly;
}
ul.chooserList.green.ui-sortable {
   min-width: 40%;
}
ul.chooserList.red.ui-sortable {
   max-width: 40%;
}

.chooserContent h1{
    display:none;
}

ul.chooserList > li {
    padding: 1.5% !important;
    
}
div.modal-header {
    padding: 1% !important;
    text-align: center;
}

div.modal-footer {
    padding: 1% !important;
    text-align: center;
}
div.modal-body {
   max-height: 450px;
    overflow-y: auto;
}