* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.d-inline-block{ display: inline-block; }

ul {
    list-style: none;
}

body {
    margin: 0px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    background-color: #fffcf5;
}

/* Nav header */


.show {
    display: block;
}

.daterangepicker {
    position: fixed !important;
    top: 100px !important;
    overflow-y: auto;
}



.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
.container-fulid {
    display: none;
}

#search-btn {
    background-color: transparent;
    border: none;
    display: flex;
    outline: none;
    justify-content: flex-end;
    cursor: pointer;
}

#search-icon {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 0.2rem;
    text-decoration: none;
    background-color: #3f3e3a;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: searchfield !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
}

#search-input {
    border-block: revert;
    min-width: 790px;
    /* margin-top: 20px; */
    height: 55px;
    margin: 0 0 10px 0;
}

#notification-icon {
    font-size: 1.3rem;
    color: #fff;
    margin-top: 0.2rem;
    text-decoration: none;
    background-color: #3f3e3a;
}

#user-icon {
    font-size: 1.3rem;
    color: #fff;
    margin-top: 0.2rem;
    text-decoration: none;
    background-color: #3f3e3a;
}

/* Modal Content */
.search_dialogbox_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -5px -5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.search-dialogbox-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.searchhh {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30px;
}

.searchhh>.fa-search {
    padding-top: 5px;
    font-size: 1.5rem !important;
    align-self: center !important;
    color: #64635f !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    height: 30px;
    margin-top: 5px;
    background-color: white !important;
}

.filter {
    margin-top: 5px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.cog {
    margin-top: 12px;
    margin-right: 10px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.filter>.fa-filter {
    font-size: 2rem;
    color: white;
    padding: 5px;
    margin: 0 5px;
}
#filter_clear {
    cursor: pointer;
}

.cog>.fa-list {
    font-size: 1.8rem !important;
    background-color: transparent !important;
    color: white;
    padding: 5px;
}

.tag,.tag1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.tag>.fa-tag, .tag1>.fa-tag {
    color: black !important;
    background-color: transparent !important;
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye>.fa-eye {
    color: black !important;
    background-color: transparent !important;
}

.search-box {
    line-height: 49px;
    display: flex;
    justify-content: flex-end;
}

.search-box>button {
    border: none !important;
}

.search-box input:first-child {
    height: 30px;
    background: white;
    border: none;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 4px 0 0 4px;
    min-width: 180px;
    padding-left: 10px;
}

.setArrow ::after {
    content: " ";
    position: absolute;
    right: 550px;
    bottom: 160px;
    border-top: 15px solid #242422;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
}

.search-box input:last-child {
    min-width: 60px;
    border: none;
    height: 42px;
    margin-left: -5px;
    color: #fff;
    background: #343434;
    border-radius: 0 8px 8px 0;
}

.search-box-block {
    max-width: calc(100% - 580px);
    width: 100%;
    float: none;
    /* text-align: right; */
    margin-left: auto;
    margin-right: 10px;
}

#submit {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding: 10px 10px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

div>.oppertunityBtn {
    font-size: 1rem !important;
    width: 200px;
    height: 40px;
    padding: 8px;
    margin-right: 40px;
    color: #fff;
    background-color: #000;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    border: 2px solid transparent;
}

.oppertunityBtn>.fa-plus {
    font-size: 1rem;
}

div>.oppertunityBtn:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid #212121;
}

.tab_30_days {
    overflow: hidden;
    display: flex;
    margin-left: 40px;
}

/* Style the buttons inside the tab */
.tab_30_days button {
    background-color: inherit;
    font-family: 'Lato', Arial, Sans-serif;
    border: none;
    font-size: 12px;
    text-align: center;
    outline: none;
    padding: 0px 3px;
    cursor: pointer;
    height: 20px;
    transition: 1s;
    display: inline-block;
    font-weight: 900;
    color: #c2c2c2;
    margin: 0;
}

.btn-30-days:hover {
    color: black;
    font-weight: bolder !important;
}
.btn-30-days:focus {
    color: black !important;
    /* font-size: 1.6rem !important; */
}

.btn-30-days:active {
    color: black !important;
    font-size: 1.6rem !important;
}

/* checkbox fix  if it works then its  amazing*/

input[type="checkbox"] {
    -webkit-appearance: initial;
    background: white;
    width: 20px !important;
    height: 20px !important;
    border: 1px solid black;
    position: relative;
}

input[type="checkbox"]:checked {
    background: white;
}

input[type="checkbox"]:checked:after {
    content: "\2713\0020";
    color: black;
    font-Size: 14px;
    position: absolute;
    top: 5%;
    left: 30%;

    /* content"";
height: 100%;
width : 100%;
background: blue; */
}



/* #################################### */

/* Change background color of buttons on hover */
/* .tab_30_days button:hover {
    background-color: transparent;
    border-radius: 0.5rem;
    color: black;
} */

/* Create an active/current tablink class */
.tab_30_days button:active {
    border-radius: 0.5rem;
    background-color: #fffefa;
    color: red;
    /* border-bottom: 2px solid orange; */
}

/* Style the tab content */
#tab_30days_content {
    /* display: none; */
    padding: 6px 12px;
    max-width: 1400px;
    margin: auto;
}

/* /sub tab */

.inside_tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 10px;
}

.tab_header_btn {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    display: inline-block;
    color: #000;
    font-size: 15px;
    border-radius: 3px 3px 0px 0px;
}

.tab_panels_container {
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.tab_panel_inside {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.input_radio_insideTab {
    display: none !important;
}

#one:checked~.tab_panels_container #one-panel,
#two:checked~.tab_panels_container #two-panel,
#three:checked~.tab_panels_container #three-panel {
    display: block;
}

#one:checked~.tabs_container #one-tab,
#two:checked~.tabs_container #two-tab,
#three:checked~.tabs_container #three-tab {
    /* background: #fffefa; */
    color: #ef7647;
    text-decoration: underline;
    /* border-bottom: 2px solid orange; */
}

/* sub tab end */

/* card */

.main {
    /* max-width: 1200px; */
    margin: 0 auto;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 30%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item1 {
    display: flex;
    padding: 0.5rem;
}

.cards_item2 {
    display: flex;
    padding: 0.5rem;
}

.cards_item3 {
    display: flex;
    padding: 0.5rem;
}

@media (min-width: 40rem) {
    .cards_item1 {
        width: 10%;
    }

    .cards_item2 {
        width: 10%;
    }

    .cards_item3 {
        width: 10%;
    }
}

@media (min-width: 56rem) {
    .cards_item1 {
        width: 15%;
    }

    .cards_item2 {
        width: 15%;
    }

    .cards_item3 {
        width: 70%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 1px 0px #444;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 10px;
}

.card_title {
    color: #000;
    opacity: 0.9;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    margin-bottom: 10px;
    display: block;
}

.card_text {
    color: #ffffff;
    font-size: 0.2rem;
    line-height: 1.5;
    font-weight: 400;
}

/* card end */

/* card - status */
.card-container {
    display: flex;
    flex-direction: row;
}

.card-status {
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1); */
    transition: 0.3s;
    width: 30%;
    padding: 10px 6px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.card-status:hover, .card-status.active {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #212121;
    color: #fff;
}

.card-status-head {
    font-size: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 0.8rem;
}

.card-status-number,
.card-status-number-two,
.card-status-number-three {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-left: 0.5rem;
}

.card-status-subtitle,
.card-status-subtitle-two,
.card-status-subtitle-three {
    opacity: 0.6;
    font-size: 1rem;
    margin-left: 0.5rem;
}

#card-status-icon {
    font-size: 0.6rem;
    width: 5%;
    cursor: pointer;
}

.card-status-top {
    margin-top: 0.7rem;
    text-align: center;
}

.card-status-number:hover {
    color: orange;
    border: 1px orange !important;
}

.card-status-number-two:hover {
    color: orange;
    border-top: 1px orange;
}

.card-status-number-three:hover {
    color: orange;
    border-top: 1px orange;
}

/*
card-status-end */
.approvalmodal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.approvalmodal-content {
    background-color: #fefefe;
    margin: 8% auto;
    /* 15% from the top and centered */
    border-radius: 5px;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
/* Approval popup start */
.approvalclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    margin-top: 25px;
    padding-right: 20px;
}

.approvalclose:hover,
.approvalclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.approvalheading {
    font-size: 20px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 20px;
}

.approvalsubhead {
    margin-top: -15px;
    font-family: Arial;
    font-size: 15px;
    padding-left: 20px;
}

.approvaltable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 99.8%;
    box-shadow: 1px 1px 1px 1px #E5E4E2;
}

th,
td {
    text-align: left;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

.approvaltable-header-popup {
    font-size: 1.2rem;
}


.approvaltable-data-popup {
    font-size: 1.05rem;
}

tr:hover {
    background-color: grey;
    color: #fff;
}

.calendar-table .table-condensed tbody tr:hover {
    background-color: transparent !important;
    color: #000 !important;
}

.table-data-boolean-popup {
    font-size: .8rem;
    text-align: center;
}

span {
    font-family: Arial;
}
#deselectBtn, #reassignmentBtn {
    border: none !important;
    margin: 0;
}
.non-global-opportunities #deselectBtn #search-icon {
    color: green !important;
}
.global-opportunities #deselectBtn #search-icon{
    color: red !important;
}

.approvaltextarea {
    width: 94%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.approvalinput[type="radio"] {
    display: none;
}

.approvalinput[type="radio"]+*::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}

.approvalinput[type="radio"]:checked+* {
    color: black;
}

.approvalinput[type="radio"]:checked+*::before {
    background: radial-gradient(black 0%, black 40%, transparent 50%, transparent);
    border-color: black;
}


.btn2 {
    height: 35px;
    width: 90px;
    background: white;
    border-color: black;
    border-size: 0.4px;
    color: black;
    font-family: Arial;
    border-radius: 5px;
}

/* Approval popup end */
/* table */

.table-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background-color: #64635f;
    display: flex;
    flex-direction: row;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* #option_one:checked~.option_tabs_container #option_one-tab,
#option_two:checked~.option_tabs_container #option_two-tab,
#option_three:checked~.option_tabs_container #option_three-tab {
    background: #fffefa;
    color: #ef7647;
} */

.option_tab_header_btn:hover {
    background: black;
    border-radius: 5px;
}

.selected-option-head {
    background: black;
}

.global-opportunities {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
    height: 45px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.non-global-opportunities, .prt-top-headings {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 10px;
    opacity: 0.8;
    color: white;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 45px;
}
.global-opportunities:hover, .non-global-opportunities:hover, .global-opportunities:focus ,.non-global-opportunities:focus, .global-opportunities.active, .non-global-opportunities.active  {
    background-color: black !important;
    border-radius: 5px;
}

.g-op:focus {
    background-color: black !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.table-header-row {
    background-color: #e8e7e2;
}

.table-header {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.table-data {
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

/* tr:hover {
background-color: grey;
color: #fff;
} */
.table-data-boolean {
    font-size: 12px;
    text-align: left;
}

/* table-end */
/*click here button starts here*/
.click-me {
    display: inline-block;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.click-me:hover {
    background-color: unset;
    text-decoration: underline;
}

/*click here button ends here*/
/*responsive for 1400px screen*/
.W1400px {
    max-width: 1400px;
    margin: auto;
}

/*responsive for 1400px screen*/
/*approved color block*/
.approved-block {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

/*approved color block*/
.color-block1 {
    width: 5px;
    height: 10px;
    background: #eed9be;
    display: inline-block;
    vertical-align: middle;
}

.color-block2 {
    width: 5px;
    height: 10px;
    background: #eec38b;
    display: inline-block;
    vertical-align: middle;
}

.color-block3 {
    width: 5px;
    height: 10px;
    background: #f1b76b;
    display: inline-block;
    vertical-align: middle;
}

.color-block4 {
    width: 5px;
    height: 10px;
    background: #fc984a;
    display: inline-block;
    vertical-align: middle;
}

.color-block5 {
    width: 5px;
    height: 10px;
    background: #e36604;
    display: inline-block;
    vertical-align: middle;
}

.color-block6 {
    width: 5px;
    height: 10px;
    background: #ff3900;
    display: inline-block;
    vertical-align: middle;
}

.color-block.light-red {
    background-color: yellow;
}

.color-block.green {
    background-color: green;
}

.color-list li {
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
    min-width: 140px;
}

.color-text {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.graph {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

#graph > .graph-bar-each {
    min-width: 12px;
    max-width: 210px;
}

.graph-bar1 {
    width: 50px;
    height: 70px;
    background-color: #eed9be;
    display: inline-block;
}

.graph-bar2 {
    width: 50px;
    height: 70px;
    background-color: #eec38b;
    display: inline-block;
}

.graph-bar3 {
    width: 50px;
    height: 70px;
    background-color: #f1b76b;
    display: inline-block;
}

.graph-bar4 {
    width: 75px;
    height: 70px;
    background-color: #fc984a;
    display: inline-block;
}

.graph-bar5 {
    width: 50px;
    height: 70px;
    background-color: #e36604;
    display: inline-block;
}

.graph-bar6 {
    width: 3px;
    height: 70px;
    background-color: #ff3900;
    display: inline-block;
}

/* delegate  */
.delegatemodal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.delegatemodal-content {
    background-color: #fefefe;
    margin: 8% auto;
    /* 15% from the top and centered */
    border-radius: 5px;
    width: 55%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.delegateclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    margin-top: 25px;
    padding-right: 20px;
}

.delegateclose:hover,
.delegateclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.delegateheading {
    font-size: 18px;
    font-weight: bolder;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 20px;
    color: #000;
}

.delegatesubhead {
    margin-top: -5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding-left: 20px;
}

.delegatetable-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid rgba(200,200,200,0.4);
    border-bottom: 2px solid rgba(200,200,200,0.4);

}

.delegetable-item-table{
    flex-grow: 6;
}


.delegatetable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}
.delegatetable th{
    font-size: 1.5rem;
    font-family: arial;
    font-weight: bolder;
    color: #000;
}

.delegate-item-button button{
border: 1px solid black !important;
}

th,
td {
    text-align: left;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}


.delegatetable-data-popup {
    font-size: 1.2rem;
}

tr:hover {
    background-color: grey;
    color: #fff;
}

.delegatetable-data-boolean-popup {
    font-size: .8rem;
    text-align: center;
}

label {
    font-family: Arial;
}

.delegateselect {
    width: 260px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 95% / 15% no-repeat #fff;
    border-radius: 5px;
}

.delegateselect::-ms-expand {
    display: none;
    /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .delegateselect {
        background: none\9;
        padding: 5px\9;
    }
}

.btn2 {
    height: 35px;
    width: 90px;
    background: white;
    border-color: black;
    border-size: 1px;
    color: black;
    font-family: Arial;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
}

/* delegate end */

.filter_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.filtermodal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 10px 20px;
    border-radius: 5px;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.filterclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.filterclose:hover,
.filterclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.filterheading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: Arial;
}

.responsibility {
    width: 100%;
    padding: 0 52px 0 9px;
    border-color: #dee0e3;
    background: none;
    height: 40px !important;
}

.icon-dropdown-filter {
    position: relative;
    top: -30px;
    left: 94%;
}
.icon-dropdown-deselect {
    position: relative;
    left: -4%;
}

.filtersolid {
    margin-top: 10px;
    margin-bottom: 0;
    width: 108%;
    margin-left: -20px;
    background-color: #dee0e3;
    color: #dee0e3;
}

.primary-responsibilty-filter-head {
    font-size: 13px;
    font-weight: bold;
}

.filtersubhead {

    font-family: Arial;
    font-size: 11px;
    font-weight: bolder;
    margin-bottom: 20px;
}

label {
    font-family: Arial;
}

span {
    font-family: Arial;
}

.filterprselect {
    width: 100%;
}

.filterchecklist {
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.filter-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-checkbox-label {
    margin: 0;
    margin-left: 10px;
    font-weight: initial;
}

.btn1 {
    height: 35px;
    width: 90px;
    background: black;
    color: white;
    font-family: Arial;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pending-button-class .pending-request-count #bootstrap-container{
    display: none;
}
.pending-button-class .pending-activity-request-count #bootstrap-container{
    display: none;
}
.btn2 {
    height: 35px;
    width: 90px;
    background: white;
    border-color: black;
    border-size: 1px;
    color: black;
    font-family: Arial;
    border-radius: 5px;
}

.rangeslider input {
    position: absolute;
}

/* price range slider */
input[type='range'] {
    width: 95%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: gray;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -6px;
    background: black;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}

input[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}

.rangeslider {
    position: relative;
    height: 60px;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}


.rangeslider {
    width: 100%;
    position: relative;
}

.rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right {
    position: relative;
    float: right;
    margin-right: 10px;
}

#delegate_submit:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.max {
    float: right;
}

.filtercontainer1 {
    width: 50%;
    float: left;
}

.filtermodalmax {
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
}

.filtermodalmin {
    margin-top: 20px;
    float: left;
    margin-left: 20px;

}

.filtercontainer2 {
    width: 50%;
    float: right;
}

.filterdatebox {
    width: 80px;
    padding: 5px 10px;
    background: none !important;
    border: 2px solid #8a8a8a !important;
    border-radius: 9px !important;
    font-size: 9px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* //setings */

.setting-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.setting-modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    /* 15% from the top and centered */
    border-radius: 5px;
    width: 25%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeSetting {
    color: #aaa;
    float: right;
    font-size: 28px;
    margin-top: 25px;
    padding-right: 20px;
}

.closeSetting:hover,
.closeSetting:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.setting_heading {
    font-size: 17px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 18px;
}

input[type=radio] {
    /* display: inline-block; */
    background: url(../../../../../themes/SuiteP/images/forms/radio.png) no-repeat;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    visibility: visible;
}

.setting_subhead {
    margin-top: 5px;
    font-family: Arial;
    font-size: 13px;
    padding-left: 20px;
}

.checklist_settings {
    margin-bottom: 20px;
    margin-top: 20px;
}

.settingInputs input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 5px;
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
}

.settingInputs input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left: 0;
    top: 0;
    font-size: 10px;
    background: #fff;
}

.settingInputs input[type='checkbox']:hover:after,
.settingInputs input[type='checkbox']:checked:hover:after {
    background: #fff;
    content: '\2714';
    color: #726E6D;
}

.settingInputs input[type='checkbox']:checked:after {
    background: #fff;
    content: '\2714';
    color: #726E6D;
}

.settings_btn1 {
    height: 35px;
    width: 90px;
    background: #000;
    color: white;
    font-family: Arial;
    border-radius: 5px;
}

.settings_btn2 {
    height: 35px;
    width: 90px;
    background: white;
    border: 1px solid black;
    color: black;
    font-family: Arial;
    border-radius: 5px;
}

.pending-request-table-container {
    display: none;
    padding: 50px;
    background: #fafafa;
}
#status-card-container:focus {
    background: black;
}

@media screen and (min-width: 1024px) and (max-height: 710px) {
    .header a {
        font-size: 24px;
    }
}

@media only screen and (min-width: 992px) {
    .header a {
        font-size: 24px;
    }
}

/* med  device below */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
    .header a {
        font-size: 24px;
    }
}

/* small screen below */
@media screen and (max-width: 600px) {
    .header a {
        font-size: 23px;
    }
}
.pending-request-count #ajaxHeader {
    display: none !important;
}
.pending-activity-request-count #ajaxHeader {
    display: none !important;
}
#moduleTab_2_Home {
    display: none !important;
}
#toolbar .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
#toolbar .navbar-nav .navbar-brand-container {
    display: flex;
    align-self: center;
}
#toolbar .navbar-nav .navbar-brand-container .suitepicon-action-home {
    line-height: 20px;
}
#toolbar .navbar-nav .topnav {
    display: flex;
    align-items: center;
    height: 30px;
}

.container-fluid .desktop-bar {
    margin-top: 0 !important;
}
#toolbar #globalLinks #with-label{
    display: flex;
    width: 125px;
    align-items: center;
    justify-content: space-evenly;
}
#toolbar #globalLinks #with-label .suitepicon-action-caret {
    margin-bottom: 4px;
}
#toolbar .navbar-nav #searchbutton {
    font-size: 25px !important;
}

#toolbar .navbar-search .dropdown-menu {
    margin-top: 10px !important;
}

.desModal, .raModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.deselect-modal-content, .ra-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 25px;
    border-radius: 5px;
    width: 55%;
    /* Could be more or less, depending on screen size */
}
.ra-modal-content {
    width: 30%;
}
/* The Close Button */
.deselectclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.deselectclose:hover,
.deselectclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.deselectheading {
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin: 0;
}

.deselectsubhead {
    margin-top: -20px;
    font-family: Arial;
}

.deselecttabname {
    font-family: Arial;
}

.deselecttabvalue {
    font-family: Arial;
    text-align: center;
}
.tabvalue td{
    text-align: left;
}
.tabname th {
    text-align: left;
}

label {
    font-family: Arial;
}
.action-item-space {
    margin-right: 15px;
    width: 18px;
}

.download{ border: none!important; }
.cog>.fa-list,
.download .fa {
    font-size: 2rem !important;
    background-color: transparent !important;
    color: white;
    padding: 5px;
}
#size{
    width: 42% !important;
}
input {
    width: 250px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.saveBtnDeselect {
    height: 35px;
    width: 90px;
    background: black;
    color: white;
    font-family: Arial;
    border-radius: 5px;
}

.submitBtnDeselect {
    height: 35px;
    width: 90px;
    background: white;
    border-color: black;
    color: black;
    font-family: Arial;
    border-radius: 5px;
}

/* refactored css */
.d-flex{display: flex;justify-content: space-between;align-items: center;}
.w-100{ width: 100%; }
.py-1{padding: 10px 0;}
.py-2{padding: 15px 0;}
.py-3{padding: 20px 0;}
.py-4{padding: 25px 0;}
.py-5{padding: 30px 0;}
.page-title{margin-left: 45px;font-size: 2rem;font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.btn-add-opportunity{font-size: 20px;display: flex;justify-content: space-evenly;align-items: center;}
.add-opportunity-title{margin: 0;font-weight: bold;font-family: 'Lato', Lato, Arial, sans-serif;}
.tab_header_btn.disabled{cursor: no-drop;color: #c2c2c2;}
.pending-request-count{ background-color: #efefef;width: 50px;height: 30px;border: 1px solid #efefef;border-radius: 10px;display: flex;justify-content: space-evenly;align-items: center; }
.pending-activity-request-count{ background-color: #efefef;width: 50px;height: 30px;border: 1px solid #efefef;border-radius: 10px;display: flex;justify-content: space-evenly;align-items: center; }

/* Pagination */
.pagination{ padding: 10px; background: #efefef;}
.pagination p{ margin-right: 10px; }
.pagination ul li{ display: inline-block; float: none; padding: 2px 8px; margin-right: 5px; cursor: pointer; }
.pagination ul li.active{ border: thin solid #000; }
.label-red{ color: #db351f!important; }
.label-green{ color: #2ab500!important; }
.label-yellow{ color: #ebc034!important; }
/* Pagination */

/* Sequence Flow */
.no-scroll{ overflow: hidden; }
.backdrop{ width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background: #fff; opacity: 0.5; position: fixed; z-index: 99; display: none; }
.status-display{ max-width: 450px; width: 100%; height: 450px; position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: #ffffff; overflow-y: scroll; overflow-x: hidden; display: none; z-index: 9999; box-shadow: 0 0 2px 2px #eeeeee; }
.status-display .wrap{padding: 0px 0 15px;}
.status-display .row{display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; position: relative;}
.status-display .d-block{display: block;}
.status-display .d-inlin-block{display: inline-block;}
.d-inline-block h5{ padding-left: 0; position: relative; margin-top: 0px; margin-bottom: 12px; }
.status-display .w-100{width: 100%;}
.status-display .w-50{width: 50%;}
.status-display .black-color{color: #000000;}
.status-display .gray-color{color: #999999;}
.status-display .red-color {color: #e91e63;}
.status-display .green-color{color: #86a085;}
.status-display .yellow-color{color: #ebc034;}
.status-display h2,h3,h4,h5{margin: 0;}
.status-display .padding{padding: 15px 25px;}
.status-display .half-padding-tb{padding: 4px 25px;}
.status-display .padding-tb{padding: 0 0 15px;}
.status-display .padding-b{padding: 0 0 15px 0;}
.status-display .align-self-start{align-self: flex-start;}
.status-display .align-self-end{align-self: flex-end;}
.status-display .align-self-center{align-self: center;}
.status-display .text-right{text-align: right;}
.status-display .text-center{text-align: center;}
.status-display .text-left{text-align: left;}
.status-display .status-badge{position: relative; display: inline-block; width: 22px; height: 22px; border-radius: 50%; margin-left: 8px; font-size: 8px; vertical-align: middle; line-height: 22px; text-align: center;}
.status-display .status-badge-green-b{position: relative; display: inline-block; width: 22px; height: 22px; border-radius: 50%; margin-right: 8px; font-size: 8px; vertical-align: middle; line-height: 22px; text-align: center; border: solid 1px #86a085; background-color: #e9fce6; color: #86a085;}
.status-display .status-badge-red-b{position: relative; display: inline-block; width: 22px; height: 22px; border-radius: 50%; margin-right: 8px; font-size: 8px; vertical-align: middle; line-height: 22px; text-align: center; border: solid 1px #e91e63; background-color: #ffe3e3; color: #e91e63;}
.status-display .status-badge-yellow-b{position: relative; display: inline-block; width: 22px; height: 22px; border-radius: 50%; margin-right: 8px; font-size: 8px; vertical-align: middle; line-height: 22px; text-align: center; border: solid 1px #e91e63; background-color: #ffea00; color: #e91e63;}
.status-display .status-badge-blue-b{position: relative; display: inline-block; width: 22px; height: 22px; border-radius: 50%; margin-right: 8px; font-size: 8px; vertical-align: middle; line-height: 22px; text-align: center; border: solid 1px #0000ff; background-color: #ccccff; color: #0000ff;}
.status-display .status-badge-gray-b{position: relative; display: inline-block; width: 22px; height: 22px; border-radius: 50%; margin-right: 8px; font-size: 8px; vertical-align: middle; line-height: 22px; text-align: center; border: solid 1px #999999; background-color: #e1e1e1; color: #999999;}
.status-display .red-bg{background-color: #ffe3e3;}
.status-display .green-bg{background-color: #e9fce6;}
.status-display .yellow-bg{background-color: #ebc034;}
.status-display .line-bottom{position: absolute; top: 22px; left: 10px; height: 19.5px; width: 1px; background-color:#86a085; }
.status-display .line-bottom:before{content: ''; position: absolute; bottom: -2px; right: -2px; width: 1px; height: 7px; transform: rotate(45deg); background-color: #86a085;}
.status-display .line-bottom:after{content: ''; position: absolute; bottom: -2px; left: -2px; width: 1px; height: 7px; transform: rotate(-45deg); background-color: #86a085;}
.status-display .line-up{position: absolute; top: -19px; left: 10px; height: 18.5px; width: 1px; background-color:#e91e63; }
.status-display .line-up:before{content: ''; position: absolute; top: -2px; right: -2px; width: 1px; height: 7px; transform: rotate(-45deg); background-color: #e91e63;}
.status-display .line-up:after{content: ''; position: absolute; top: -2px; left: -2px; width: 1px; height: 7px; transform: rotate(45deg); background-color: #e91e63;}
.status-display .line-bottom.yellow{background-color: #ffbf00;}
.status-display .line-bottom.yellow:before{background-color: #ffbf00;}
.status-display .line-bottom.yellow:after{background-color: #ffbf00;}
.status-display .approved .row:last-child .line-bottom{ display: none; }

.status-display h2{ font-size: 20px; }
.status-display h3{ font-size: 12px; margin: 5px 0; }
.status-display h4{ padding: 0; font-size: 13px; }
.status-display hr{ margin: 0; border-color: #cccccc; background-color: #cccccc; }

.close-sequence-flow,.close-sequence-flow-activity{ cursor: pointer; position: absolute; top: 0px; right: 5px; font-size: 34px; z-index: 999999; }
/* End Sequence Flow */

.form-group{ display: block; }
.form-group span{ display: block; }
.form-control,
.form-group select{ display: block; width: 100%; }

.select2-results__option{ float: none!important; }

.color-red{ color: red; }

.color-palette{ width: 20px; height: 20px; border-radius: 50%; display: inline-block; margin: 0 10px; }
.bg-red{ background: red; }
.bg-yellow{ background: green; }
.bg-green{ background: yellow; }
.bg-default{ background-color: white; border: 1px solid; }

/* reassignment */
.ui-autocomplete.ui-menu{width:341px !important; position: fixed; max-height:350px; overflow-y:auto;}
.ui-autocomplete.ui-menu li:first-child a{
    color:blue !important;
}
#assigned_to_new_c{
    width: 341px !important;
padding: 15px 5px;
}

/* Modal Content/Box */
.setting-modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    /* 15% from the top and centered */
    border-radius: 5px;
    width: 50%;
    /* Could be more or less, depending on screen size */
}
.search-column-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}
#search-column1, #search-column2 {
    padding: 12px 5px;
    background-color: #FCAFA8;
    border-color: #FCAFA8;
}
.search-column-container i{
    margin-left: -22px;
    font-size: 17px;
    color: #333;
}
.search-column-heading-container {
    display: flex;
    justify-content: space-around;
}
.search-column-heading {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.setting-modal-content .section{ padding: 10px 20px; max-height: 320px; overflow: scroll; }
.setting-modal-content .section .opportunity-settings{ display: flex; }
.setting-modal-content .sort-column{ width: 45%; padding-right: 0px; display: inline-block; vertical-align: top; }
.setting-modal-content .section form ul{ height: 100%; }
.setting-modal-content .section li{ display: block; float: none; }
.setting-modal-content .sortable1 li,
.setting-modal-content #sortable2 li,
.nondrag{ background: #CDE8E2; color: #333333; padding: 5px; margin-bottom: 5px; cursor: pointer; }
.setting-modal-content #sortable2 li{ background: #FCAFA8; color: #111111; }
.setting-modal-content #sortable2{ position: relative; }
.setting-modal-content #sortable2:before{ content: ''; width: 3px; height: 100%; position: absolute; left: -30px; background: #FCAFA8; }
.setting-modal-content .divider{ width: 10%; }
.setting-modal-content li,
.setting-modal-content li label{ cursor: pointer; user-select: none; } 